<div ng-controller="CoursesCtrl">
    <div class="row">

        <div class="col-xs-9">
            <input type="text" class="form-control bs-callout-default" placeholder="Search for..." ng-model="search">
        </div>

        <div class="col-xs-3">
            <div class="btn-group pull-right" role="group">
                <a href="#/courses/new" type="button" class="btn btn-default">Add course</a>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12">

            <div class="bs-callout bs-callout-default" ng-repeat="course in courses | filter: search">
                <div class="row">
                    <div class="col-xs-9">
                        <h3 class="pull-right">{{course.date | date:"dd.MM.yyyy"}}</h3>
                        <h3>{{course.title}} <small>{{course.length | minutesToTimeString}}</small></h3>
                        <p class="text-justify text-indent">{{course.description}}</p>
                    </div>
                    <div class="col-xs-3">
                        <a href="#/courses/{{course.id}}" class="btn btn-success btn-block form-control text-ellipsis">Edit</a>
                        <button class="btn btn-danger btn-block form-control text-ellipsis" ng-click="delete(course.id)">Delete</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>